*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --imagem1: url('./img/Sp.jpg');
    --imagem2: url('./img/cidadeFuturistica.jpg');
    --imagem3: url('./img/gothan.jpg');
    --imagem4: url('./img/novaIorque.jpg');
    --imagem5: url('./img/cidadeHd.jpg');
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--imagem1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#trocarImagem{
    padding: 16px 32px;
    font-size: 24px;
}